body {
	background: Black;
	font-family: 'GNUTypewriterStandard';
   	font-weight: normal;
   	font-style: normal; 
	color: Silver;
	text-align: justify;
}

a:link {
	color: Lime;
}

a:visited {
	color: Green;
}

a:active {color: #0000FF}
